<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/css/index.css"/>
    <!-- 引入组件库 -->
    <script src="/static/js/index.js"></script>
    <style>
        .el-form--label-top .el-form-item__label {
            padding: 5px 0;
            line-height: 20px;
        }

        @media screen and (max-width: 960px) {
            .my-drawer .el-drawer {
                width: 75% !important;
            }
        }

        @media screen and (min-width: 960px) {
            .my-drawer .el-drawer {
                width: 30% !important;
            }

        }

        .el-drawer__header {
            padding-bottom: 10px;
            margin-bottom: 0px;
            border-bottom: 1px solid #f0f0f0;
        }

        .article {
            box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
        }

        .article:hover .el-link {
            color: #409EFF;
        }

        .article-title:hover .el-icon-star-off {
            color: #409EFF;
            font-weight: bold;
        }

        .article-title:hover .el-link {
            color: #409EFF;
        }
    </style>
</head>

<body>


<div id="app">

    <el-col sm="24" :md="{span: 12, offset: 4}">

        <el-link @click="drawer=true" :underline="false" style="margin: 0px 0px -60px 180px; z-index:1">
            作者博客
        </el-link>

        <el-tabs type="card" v-model="homeTabName">

            <!-- 登录页面 -->
            <el-tab-pane label="登录" name="loginTab">
                <el-form label-position="top" :rules="loginRules" :model="formLogin" ref="formLogin">
                    <el-form-item label="请求地址" prop="url">
                        <el-select v-model="formLogin.url" allow-create default-first-option filterable remote
                                   clearable placeholder="请输入教务系统外网地址" :remote-method="getSchoolName" :loading="loading"
                                   @focus="focus" style="width: 100%;">
                            <el-option v-for="item in list" :key="item.url" :label="item.name" :value="item.url">
                                <span style="float: left">{{ item.name }}</span>
                                <span style="float: right; color: #8492a6; font-size: 13px">{{ item.url }}</span>
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="学号" prop="account">
                        <el-input v-model="formLogin.account" placeholder="请输入学号"></el-input>
                    </el-form-item>

                    <el-form-item label="密码" prop="password">
                        <el-input v-model="formLogin.password" placeholder="请输入密码" show-password></el-input>
                    </el-form-item>

                    <el-form-item prop="user_type">
                        <el-select v-model="formLogin.user_type" placeholder="请选择用户学年">
                            <el-option label="学生" value="0"></el-option>
                            <el-option label="教师" value="1"></el-option>
                            <el-option label="部门" value="2"></el-option>
                        </el-select>
                        <el-button type="primary" @click="onLogin('formLogin')" :disabled="requesting"
                                   v-text="loginTabBtnText">
                        </el-button>
                    </el-form-item>
                </el-form>
            </el-tab-pane>

            <!-- 信息查询页面 -->
            <el-tab-pane label="信息查询" name="infoTab" :disabled="tabSwitch">

                <el-tabs type="border-card" v-model="infoTabName" @tab-click="clearResultData">
                    <!-- 查询课表信息标签 -->
                    <el-tab-pane label="查询课表信息" name="fromSchedule">
                        <el-form>
                            <el-form-item label="学年">
                                <el-select v-model="fromSchedule.schedule_year" placeholder="请选择查询学年">
                                    <el-option label="2016-2017" value="2016-2017"></el-option>

                                    <el-option label="2017-2018" value="2017-2018"></el-option>
                                    <el-option label="2018-2019" value="2018-2019"></el-option>
                                </el-select>
                            </el-form-item>

                            <el-form-item label="学期">
                                <el-select v-model="fromSchedule.schedule_term" placeholder="请选择查询学期">
                                    <el-option label="1" value="1"></el-option>
                                    <el-option label="2" value="2"></el-option>
                                </el-select>
                            </el-form-item>

                            <el-form-item label="类型">
                                <el-select v-model="fromSchedule.schedule_type" placeholder="类型">
                                    <el-option label="个人课表" value="0"></el-option>
                                    <el-option label="班级课表" value="1"></el-option>
                                </el-select>
                            </el-form-item>

                            <el-form-item>
                                <el-button type="primary" @click="request_data('/schedule', fromSchedule)"
                                           :disabled="requesting" v-text="infoTabBtnText"></el-button>
                            </el-form-item>

                        </el-form>
                    </el-tab-pane>
                    <!-- 查询成绩信息标签 -->
                    <el-tab-pane label="查询成绩信息" name="fromScore">
                        <el-form>
                            <el-form-item label="学年">
                                <el-select v-model="fromScore.score_year" placeholder="请选择查询学年">
                                    <el-option label="2016-2017" value="2016-2017"></el-option>
                                    <el-option label="2017-2018" value="2017-2018"></el-option>
                                    <el-option label="2018-2019" value="2018-2019"></el-option>
                                </el-select>
                            </el-form-item>

                            <el-form-item label="学期">
                                <el-select v-model="fromScore.score_term" placeholder="请选择查询学期">
                                    <el-option label="1" value="1"></el-option>
                                    <el-option label="2" value="2"></el-option>
                                </el-select>
                            </el-form-item>

                            <el-form-item label="接口">
                                <el-select v-model="fromScore.use_api" placeholder="请选择成绩接口">
                                    <el-option label="接口1" value="0"></el-option>
                                    <el-option label="接口2" value="1"></el-option>
                                    <el-option label="接口3" value="2"></el-option>
                                    <el-option label="接口4" value="3"></el-option>
                                </el-select>
                            </el-form-item>

                            <el-form-item>
                                <el-button type="primary" @click="request_data('/score', fromScore)"
                                           :disabled="requesting" v-text="infoTabBtnText"></el-button>
                            </el-form-item>

                        </el-form>
                    </el-tab-pane>
                    <!-- 查询用户信息标签 -->
                    <el-tab-pane label="查询用户信息" name="fromInfo">
                        <el-form>
                            <el-form-item>
                                <el-button type="primary" @click="request_data('/user-info', {})"
                                           :disabled="requesting" v-text="infoTabBtnText"></el-button>
                            </el-form-item>
                        </el-form>
                    </el-tab-pane>
                </el-tabs>
                <el-scrollbar style="height: 250px; border: 1px solid #f0f0f0">
                    <pre><code v-text="showData"></code></pre>
                </el-scrollbar>
            </el-tab-pane>
        </el-tabs>
    </el-col>

    <el-drawer class="my-drawer" :visible.sync="drawer" size="30%">
        <span slot="title">
            <div class="article-title">
                <i class="el-icon-star-off" style="vertical-align: middle;"></i>
                <el-link style="font-size: 20px; font-weight:400;" href="https://blog.dairoot.cn/" target="_blank"
                         :underline="false">dairoot 博客</el-link>
            </div>

        </span>
        <el-scrollbar style="height: 90vh;">
            <el-row v-for="item in rss" :key="item.title" class="article">

                <el-col :span="22" :offset="1">
                    <div style="height: 60px; line-height: 60px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <el-link target="_blank" :underline="false" :href="item.url">
                            <span style="font-size: 18px;font-weight:normal; !important;">{{ item.title }}</span>
                        </el-link>
                    </div>
                    <div style="color: #909399; padding-bottom: 15px">
                        <span style="padding-right: 20px"><i class="el-icon-time"></i> {{ item.date }}</span>
                        <span><i class="el-icon-price-tag"></i>#{{item.tag}}</span>
                    </div>
                </el-col>
            </el-row>
            <el-row style="margin-top: 100px;"></el-row>
        </el-scrollbar>

    </el-drawer>

</div>


<script src="/static/js/axios.min.js"></script>

<script>

    new Vue({
        el: '#app',
        data: {
            requesting: false,
            drawer: false,
            token: "",
            tabSwitch: true,
            homeTabName: "loginTab",
            // homeTabName: "infoTab",
            infoTabName: "fromSchedule",
            showData: "",
            loginTabBtnText: "登录",
            infoTabBtnText: "查询",
            resultData: {},
            formLogin: {
                url: '',
                account: '',
                password: '',
                user_type: '0',
            },
            fromSchedule: {
                schedule_year: "2019-2020",
                schedule_term: "1",
                schedule_type: "0"

            },
            fromScore: {
                score_year: "2019-2020",
                score_term: "1",
                use_api: "0"
            },
            fromInfo: {},
            schoolList: [],
            list: [],
            rss: [],
            loading: false,
            loginRules: {
                url: [
                    {required: true, message: '请填写或选择教务系统地址', trigger: 'change'},
                ],
                account: [
                    {required: true, message: '请输入学号', trigger: 'blur'},
                    {min: 5, max: 15, message: '长度在 5 到 15 个字符', trigger: 'blur'}
                ],
                password: [
                    {required: true, message: '请输入密码', trigger: 'blur'}
                ],
            },

        },

        mounted() {
            var _this = this;
            axios.get('/school-list').then(function (response) {
                _this.list = response.data;
                _this.schoolList = response.data;
            }).catch(function (error) {

            });
            axios.get('/rss').then(function (response) {
                _this.rss = response.data;
            }).catch(function (error) {

            });


        },
        methods: {
            clearResultData() {
                this.showData = this.resultData[this.infoTabName]
            },
            request_data(url, data) {
                var _this = this;
                this.requesting = true;
                this.infoTabBtnText = "查询中...";
                axios.defaults.headers.common['token'] = this.token;
                axios.post(url, data).then(function (response) {
                    _this.resultData[_this.infoTabName] = response.data;
                    _this.showData = _this.resultData[_this.infoTabName];
                    _this.requesting = false;
                    _this.infoTabBtnText = "查询"
                }).catch(function (error) {
                    _this.$message.error(error.response.data);
                    _this.requesting = false;
                    _this.infoTabBtnText = "查询"
                });

            },

            onLogin(formName) {
                this.$refs[formName].validate((valid) => {

                    if (valid) {
                        var _this = this;
                        this.requesting = true;
                        this.loginTabBtnText = "登录中...";
                        axios.post('/login', this.formLogin).then(function (response) {
                            _this.tabSwitch = false;
                            _this.homeTabName = "infoTab";
                            _this.token = response.data.token;
                            _this.requesting = false;
                            _this.loginTabBtnText = "登录"
                        }).catch(function (error) {
                            _this.$message.error(error.response.data);
                            _this.requesting = false
                            _this.loginTabBtnText = "登录"
                        });
                    }

                });


            },
            focus() {
                this.list = this.schoolList;
            },

            getSchoolName(input_data) {
                if (input_data !== '') {
                    this.loading = true;
                    query = input_data.toLowerCase();
                    if (query.indexOf("://") > -1) {
                        query = query.split("//")[1]
                    }
                    query = query.split("/(")[0].split("/default")[0];

                    setTimeout(() => {
                        this.loading = false;
                        this.list = this.schoolList.filter(item => {
                            return item.url.indexOf(query) > -1 || item.name.indexOf(query) > -1 || item.code.indexOf(query) > -1
                        })

                    }, 100)
                }
            }
        }
    })
</script>


</body>

</html>