<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">

<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.min.js"></script>

<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>


<script>
window.onload=function(){
  
  new Vue({
      el:'#box',
      data:{
        api: 0,
        url: null,
        userType: 0,
        account: null,
        password: null,
        scheduleType: 0,
        xq: "1",
        xn: "2018-2019",
        path: "schedule"
      },
      watch: {
          url(newVal,oldVal){
            if (newVal.length > 3 && !new RegExp("^http").test(newVal) ){
                this.url = "http://" + newVal
            }
            if (newVal.length > 7 && new RegExp("/$").test(newVal)){
                this.url = newVal.slice(0,-1)
            }
          }
      },
      methods:{
        getLogin:function(){
          $("#logniBtn").attr("disabled","disabled");
          $("#logniBtn").data('original-text', $("#logniBtn").html());
          $("#logniBtn").html('loading...');


          // $("#logniBtn").removeAttr("disabled");
          // $("#logniBtn").html($("#logniBtn").data('original-text'));


          var _this = this
          if(_this.url && _this.account && _this.password){
            var data = {
              "url": _this.url,
              "account": _this.account,
              "password": _this.password,
              "user_type": _this.userType
            }
            this.$http.post('/login', JSON.stringify(data)).then(function(res){
              $("#json-data").hide();

              console.log(res.data.token)
              Vue.http.headers.common['token'] = res.data.token;
              $("#profile-tab").removeClass("disabled");
              // $("#home-tab").addClass("disabled");
              $('#myTab a:last').tab('show')
              $("#logniBtn").removeAttr("disabled");
              $("#logniBtn").html($("#logniBtn").data('original-text'));
            },function(res){
              $("#logniBtn").removeAttr("disabled");
              $("#logniBtn").html($("#logniBtn").data('original-text'));
              alert(res.data);

            });
          }else{
            $("#logniBtn").removeAttr("disabled");
            $("#logniBtn").html($("#logniBtn").data('original-text'));
            alert("请完整填写信息")
          }

      },
        query:function(){
          $("#queryBtn").attr("disabled","disabled");
          $("#queryBtn").data('original-text', $("#queryBtn").html());
          $("#queryBtn").html('loading...');



          var _this = this
          data = {"schedule": null, "score": null, "user-info": {}}
          data['schedule'] = {
            "schedule_year": this.xn,
            "schedule_term": this.xq,
            "schedule_type": this.scheduleType
          }
          data['score'] = {
            "score_year": this.xn,
            "score_term": this.xq,
            "use_api": this.api
          }

          this.$http.post('/'+ _this.path, JSON.stringify(data[_this.path])).then(function(res){
            $("#json-data").show();
            jsonData = "<pre><code>"+JSON.stringify(res.data, null, 1)+"</code></pre>"
            $("#json-data").html(jsonData);
            $("#queryBtn").removeAttr("disabled");
            $("#queryBtn").html($("#queryBtn").data('original-text'));
          },function(res){
            alert(res.data);
            $("#queryBtn").removeAttr("disabled");
            $("#queryBtn").html($("#queryBtn").data('original-text'));
        });
      },
      switchQu:function(path){
        this.path = path
        $("#json-data").hide();
        if(path == "schedule"){
            $("#xnView").show();
            $("#xqView").show();
            $("#typeView").show();
            $("#apiView").hide();
        }else if(path == "score"){
            $("#xnView").show();
            $("#xqView").show();
            $("#apiView").show();
            $("#typeView").hide();
        }else{
            $("#apiView").hide();
            $("#xnView").hide();
            $("#xqView").hide();
            $("#typeView").hide();
        }
      }
    }
  })
}

</script>
<style>
button{
 /* padding:0 4px !important;*/
}
.btn-group{
  display:  flex !important;
  flex-direction: row;
}
#myTabContent .btn-group button{
  margin-right: 1px;
  width:34%;
}
@media screen and (min-width: 1200px) {
    .btn-group {
       margin: 30px;
       padding:3px;
    }
}
@media screen and (max-width: 860px) {
    .btn-group {
       margin:10px 0;
       padding:5px;
    }
    #queryBtn{
      margin-left: 35%;
    }
}
@media screen and (max-width: 360px) {
    .btn-group {
       padding:5px;
    }
    #myTabContent .btn-group button {
       font-size: 13px;
    }
    #queryBtn{
      margin-left: 35%;
    }
}
@media 
</style>
</head>

<body >
  <div class="container" style="margin-top:5%">

    <div class="col-md-8" id="box">

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">登录</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">信息查询</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent" style="margin-top: 20px;">
        <!-- 登录标签 -->
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="form-group">
            <label for="url">请求地址</label>
            <input v-model="url" type="url" class="form-control" placeholder="请输入教务系统外网地址">
          </div>
          <div class="form-group">
            <label for="account">学号</label>
            <input v-model="account" type="text" class="form-control" id="account" placeholder="请输入学号">
          </div>
          <div class="form-group">
            <label for="password">密码</label>
            <input  v-model="password" type="password" class="form-control" id="password" placeholder="请输入密码">
          </div>
    
            <select class="form-control col-md-3 float-left" style="margin: 0 30px 10px 0;" v-model="userType">
              <option value=0>学生</option>
              <option value=1>教师</option>
              <option value=2>部门</option>
            </select>
            <button type="button" id="logniBtn" class="btn btn-primary float-left" v-on:click="getLogin()">登录</button>
       
        </div>
        <!-- 查询标签 -->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="btn-group" style="margin-bottom: 20px;">
            <button type="button" class="btn btn-light" v-on:click="switchQu('schedule')">查询课表信息</button>
            <button type="button" class="btn btn-light" v-on:click="switchQu('score')">查询成绩信息</button>
            <button type="button" class="btn btn-light" v-on:click="switchQu('user-info')">查询用户信息</button>
          </div>

          <!-- 学年学期选择 -->
          <div class="form-group">
            <div id="xnView" class="form-group row">
            <label for="xn" class="col-md-2 control-label">学年</label>
            <select id="xn" class="form-control col-md-3" v-model="xn">
              <option value="2015-2016">2015-2016</option>
              <option value="2016-2017">2016-2017</option>
              <option value="2017-2018">2017-2018</option>
              <option value="2018-2019">2018-2019</option>
            </select>
            </div>

            <div id="xqView" class="form-group row">
            <label for="xq" class="col-md-2 control-label">学期</label>
            <select id="xq" class="form-control col-md-3" v-model="xq">
              <option value="1">1</option>
              <option value="2">2</option>                        
            </select>
            </div>

            <div id="apiView" style="display: none;" class="form-group row">
            <label for="api" class="col-md-2 control-label">接口</label>
            <select id="api" class="form-control col-md-3" v-model="api">
              <option value=0>接口1</option>
              <option value=1>接口2</option>                        
              <option value=2>接口3</option>                        
            </select>
            </div>

            <div id="typeView" class="form-group row">
            <label for="scheduleType" class="col-md-2 control-label">类型</label>
            <select id="scheduleType" class="form-control col-md-3" v-model="scheduleType">
              <option value=0>个人课表</option>
              <option value=1>班级课表</option>             
            </select>
            </div>
  
          <button type="button" class="btn btn-primary" id="queryBtn" v-on:click="query()">点击查询</button>

          <div class='pre-scrollable table-bordered' style="margin: 10px 0 100px 0;" id="json-data"></div>
        </div>

      </div>
    </div>
  </div>

  <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
</body>
</html>

